body{
    background-color: rgb(238, 237, 220);
    margin: 0;
    padding: 0;
}
.principal{
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    border: rgb(131, 127, 184) solid 5px;
    text-align: center;
    margin:  15px auto;
    display: block;
    background-color: rgb(247, 237, 217);
}
h2{
    color: rgb(103, 80, 145);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 100%;
    height: 150px;
    width: 150px;
    border: solid rgb(131, 127, 184) 5px;
    margin-top: 30px;
}
ul{
    margin-left: 0px;
    padding: 0px;

}
li{
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 0px;
    margin: 5px;
}
a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 338px;
}
p{
    color: rgb(143, 107, 226);
}